/* Card */
/* comment */
.quest-section {
  padding: 20px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-quest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img-choice-wrapper {
  display: flex;
}

.choice {
  width: 300px;
  height: 30px;
  margin: 10px;
  background-color: #ffd600;
  font-family: var(--body-font);
  border-radius: 10px;
  border: none;
  font-size: medium;
  margin: 10px;
}

.text-quest {
  display: flex;
  align-items: center;
}

.image-quest {
  width: 320px;
  height: auto;
  border-radius: 10px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 750px) {
  .card.card-quest {
    border: #000000 3px solid;
    height: 75vh;
    width: 450px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .text-quest {
    display: flex;
    flex-direction: column-reverse;
  }

  .choice {
    width: 300px;
    height: 30px;
    margin: 3px;
    background-color: #ffd600;
    font-family: var(--body-font);
    border-radius: 10px;
    border: none;
    font-size: medium;
  }

  .image-quest {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }

  .choices-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .card.card-quest {
    border: #000000 3px solid;
    height: 70vh;
    width: 80vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 7px 7px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .text-quest {
    display: flex;
    flex-direction: column-reverse;
  }

  .choice {
    width: 65vw;
    height: 30px;
    margin: 3px;
    background-color: #ffd600;
    font-family: var(--body-font);
    border-radius: 10px;
    border: none;
    font-size: medium;
  }

  .image-quest {
    width: 75vw;
    height: auto;
    border-radius: 10px;
  }
  
  .choices-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
