/* Card */
.quest-section {
  padding: 20px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-quest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.img-choice-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
}

.choices-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.choice {
  width: 300px;
  height: 35px; 
  margin: 10px;
  background-color: #ffd600;
  font-family: var(--body-font);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin: 10px;
  animation: appear 500ms ease-in;
  opacity: 1;
}

.choice:hover {
  cursor: pointer;
}


.image-quest {
  width: 300px;
  height: 220px;
  border-radius: 10px;
}

.statement {
  font-size: 30px;
  font-weight: 200;
  width: 300px;
  text-align: center;
  align-self: center;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 1300px) {
 section {
  height: 70%;
 }

 .img-choice-wrapper {
  flex-direction: column-reverse;
  
 }
}

@media screen and (max-width: 750px) {
    section {
      height: 80vh;
    }

  .card.card-quest {
    border: #000000 3px solid;
    height: 100%;
    width: 450px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .choice {
    width: 300px;
    height: 30px;
    margin: 13px;
    background-color: #ffd600;
    font-family: var(--body-font);
    border-radius: 10px;
    border: none;
  }

  .image-quest {
    width: 370px;
    height: 250px;
    border-radius: 10px;
  }

  .choices-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
}

@media screen and (max-width: 580px) {
  .card.card-quest {
    border: #000000 3px solid;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 7px 7px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .statement {
    width: 200px;
  }

  .choice {
    width: 65vw;
    height: 30px;
    background-color: #ffd600;
    font-family: var(--body-font);
    border-radius: 10px;
    border: none;
    font-size: medium;
   
  }

  .image-quest {
    width: 75vw;
    border-radius: 10px;
  }

  .choices-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
