@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Grand+Hotel&display=swap");
@import "scorecard.css";
@import "Quest.css";

/* comment */
:root {
  --primary-color: #ffd600;
  --secondary-color: #6fbb7c;
  --font-color: #000000;
  --cta-color: #ffffff;
  --body-font: "Afacad", sans-serif;
  --title-font: "Grand Hotel";
  --choice-color: #1763ad;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
}

/* Nav bar */
nav {
  /* height: 10vh; */
  background-color: #ffd600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
  font-family: var(--body-font);
}

.buttonsNav-wrapper {
  padding-top: 16px;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
  cursor: pointer;
}

.nav-link:hover,
.nav-link.active {
  text-decoration: underline solid 2px var(--font-color);
  text-underline-offset: 8px;
  cursor: pointer;
}

.nav-link:disabled {
  cursor: initial;
  text-decoration: none;
}

nav img {
  width: 150px;
}

nav img:hover {
  cursor: pointer;
}

/* Main */
span {
  font-size: 50px;
  width: auto;
  height: 50px;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center; /*center est le bon */
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../GameImage/Image_background_ok.jpg);
}

h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  margin: 15px;
}

.card {
  border: #000000 3px solid;
  height: 92%;
  width: 650px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  animation: appear 500ms ease-in;
  opacity: 1;
}



.card-home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.card-home form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-home form input {
  height: 30px;
}

h2 {
  font-family: var(--title-font);
  line-height: 50px;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
}

.card-home p {
  font-family: var(--body-font);
  font-size: 3rem;
  text-align: center;
}

form {
  font-size: 2rem;
}

.cta {
  width: 30vh;
  border-radius: 20px;
  color: var(--cta-color);
  background-color: var(--secondary-color);
  font-family: var(--title-font);
  font-size: 2rem;
  border: none;
  margin: 0.5vw;
  cursor: pointer;
}
.quiz-choices {
  display: flex;
  flex-direction: row;
}
.cta-choice {
  background-color: #1763ad;
  width: 9rem;
  margin-top: 15px;
  /* padding: 15px; */
  border-radius: 20px;
  color: var(--cta-color);
  font-family: var(--title-font);
  font-size: 2rem;
  border: none;
  margin: 0.5vw;
  cursor: pointer;
}

.cta-choice:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cta:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 0 3px var(--font-color);
}

/* Footer */
footer {
  flex-shrink: 0;
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-size: 1rem;
}

/*JS*/
.displaynone {
  display: none;
  /* opacity: 0; */
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CONFETTIS */
#confetti-canvas {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.disabledButton {
  pointer-events: none;
  text-decoration: underline solid 2px var(--font-color);
  text-underline-offset: 8px;
}
/* .disabledChoices {
  pointer-events: none;
} */
.mandatory {
  border: red 1px solid;
}

.mandatory:focus {
  border: red 1px solid;
  outline: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 750px) {
  .card {
    border: #000000 3px solid;
    height: 50vh;
    width: 450px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .quiz-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cta-choice {
    width: auto;
    text-size-adjust: auto;
  }
}

@media screen and (max-width: 580px) {
  .card {
    border: #000000 3px solid;
    height: 50vh;
    width: 80vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
  }

  h1 {
    line-height: 50px;
    font-size: 40px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
