@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Grand+Hotel&display=swap");
:root {
  --primary-color: #ffd600;
  --secondary-color: #6fbb7c;
  --font-color: #000000;
  --cta-color: #ffffff;
  --body-font: "Afacad", sans-serif;
  --title-font: "Grand Hotel";
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font);

  display: flex;
  flex-direction: column;
}
/* Nav bar */

nav {
  /* height: 10vh; */
  background-color: #ffd600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.links-wrapper {
  padding-top: 16px;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.links-wrapper a {
  text-decoration: none;
  color: var(--font-color);
}
.links-wrapper a:hover {
  text-decoration: underline solid 2px var(--font-color);
  text-underline-offset: 8px;
}

nav img {
  width: 150px;
}

/* Main */

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center; /*center est le bon */
  align-items: center;
  flex-direction: column;
  background-image: url("Images jeux/Image_background_ok.jpg");
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
  }
>>>>>>> 10b982eef728321d7fcd285b7dea7b4a4005ad92
=======
}
>>>>>>> 880900c46ffa45186bed484bacd64e3e3c013ab8

h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  margin: 15px;
}

/* Card */
<<<<<<< HEAD:Style.css

.card-card-quest {
  display: flex;
}
.text-quest {
  display: flex;
}

.image-quest {
  width: 250px;
  height: auto;
}

/* .displaynone {
  display: none; */
/* } */
=======
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 10b982eef728321d7fcd285b7dea7b4a4005ad92
.displaynone {
  display: none;
}
=======
>>>>>>> 880900c46ffa45186bed484bacd64e3e3c013ab8
>>>>>>> fb1ded529e08f05a0f72f35f8c8450af7d549fa9:CSS/Style.css

.card {
  border: #000000 3px solid;
  height: 50vh;
  width: 50vw;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.card-home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.card-home form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-home form input {
  height: 30px;
}

h2 {
  font-family: var(--title-font);
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
}

.card-home p {
  font-family: var(--body-font);
  font-size: 3rem;
  text-align: center;
}

form {
  font-size: 2rem;
}

.cta {
  width: 30vh;
  padding: 15px;
  border-radius: 20px;
  color: var(--cta-color);
  background-color: var(--secondary-color);
  font-family: var(--title-font);
  font-size: 1.5rem;
  border: none;
}
/* Footer */
footer {
  flex-shrink: 0;
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-size: 1rem;
}

/*JS*/
.displaynone {
  display: none;
}
