@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Grand+Hotel&display=swap");
:root {
  --primary-color: #ffd600;
  --secondary-color: #6fbb7c;
  --font-color: #000000;
  --cta-color: #ffffff;
  --body-font: "Afacad", sans-serif;
  --title-font: "Grand Hotel";
}

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font);
  overflow-y: hidden;
}
/* Nav bar */

nav {
  /* height: 10vh; */
  background-color: #ffd600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.links-wrapper {
  padding-top: 16px;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.links-wrapper a {
  text-decoration: none;
  color: var(--font-color);
}
.links-wrapper a:hover {
  text-decoration: underline solid 2px var(--font-color);
  text-underline-offset: 8px;
}

nav img {
  width: 150px;
}

/* Main */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

/* Card */
.displaynone {
  display: none;
}

.card {
  border: #000000 3px solid;
  height: 50vh;
  width: 50vw;
  border-radius: 20px;
}

.card-home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: var(--title-font);
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: var(--body-font);
  font-size: 3rem;
  text-align: center;
}
form {
  font-size: 2rem;
}

.cta {
  width: 30vh;
  padding: 15px;
  border-radius: 20px;
  color: var(--cta-color);
  background-color: var(--secondary-color);
  font-family: var(--title-font);
  font-size: 1.5rem;
  border: none;
}
/* Footer */
footer {
  background-color: var(--primary-color);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-size: 3ch;
  font-weight: bold;
}
